<h1>Categories</h1>

<br>

<div class="container">
  <div class="row align-items-center">
    <div class="list-group list-group-flush">
      <div class="card col-sm-3 align-self-center" style="width: 18rem;">
      <% @categories.each do |category| %>
        <div class="card-header">
          <%= category.name %>
        </div>
        <% category.subcategories.each do |subcategory| %>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= link_to subcategory.name, subcategory_path(id: subcategory.id) %></li>
        </ul>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>